body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0px;
    overflow: hidden;
    background-color: #CD5C5C;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li :hover {
    background-color: #F08080;
}

#option {
    font-size: 18px;
}

.connexion {
    font-size: 18px;
    margin-left: 500px;
}

.vertical-menu {
    width: 150px;
    position: fixed;
    transition: 1s;
}

.vertical-menu a {
    color: black;
    display: block;
    padding: 22px;
    /* ajoute un padding */
    text-decoration: none;
    /* enlève le texte souligné */
}

.vertical-menu a:hover {
    background-color: #FFA07A;
    /* change la couleur au passage de la souris */
}

.deroulant {
    float: left;
    overflow: hidden;
}

#option :hover {
    background-color: #F08080;
}

.deroulant .option-deroulant {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.contenu-option {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contenu-option a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.contenu-option a:hover {
    background-color: #FFA07A;
}

.deroulant:hover .contenu-option {
    display: block;
}