html,
body,
.vertical-menu {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0px;
    overflow: hidden;
    background-color: #CD5C5C;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a :hover {
    background-color: #F08080;
}

.vertical-menu {
    width: 150px;
    position: fixed;
    transition: 1s;
    min-height: 100%;
}

.vertical-menu a {
    color: black;
    display: block;
    /* Make the links appear below each other */
    padding: 22px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #FFA07A;
    /* Dark grey background on mouse-over */
}


/* .vertical-menu a.active {
    background-color: #F08080;
    Add a color to the "active/current" link 
    color: white;
}*/